/* CSS feuille V1

.window-app.wallow-wide .window-content {
    background: url(../images/Feuille-Wallow-Wide-Back.png);
    background-size: cover;
}


.window-app .window-resizable-handle {
    visibility: hidden;
}

.wallow-wide.sheet.actor form { 
    display: grid;
    padding: 3px;
    grid-template-columns: 1.7fr 17.6fr 0.7fr;
    font-size: 0.9em;
   
    .col-sante {
        display: grid;
        grid-template-rows: 10fr repeat(3, 1fr) repeat(2, 0.9fr) 1fr 0.9fr repeat(13, 0.95fr) 1fr 8.95fr;

        .sante-cur {
            border-style: solid;
            border-width: 2px;
            border-color: red;
            background-color: #dd10109f;
        }
    }

    .col-stress {
        display: grid;
        grid-template-rows: 10.1fr repeat(2, 0.85fr) 0.9fr 0.9fr repeat(2, 0.85fr) 0.9fr repeat(2, 0.85fr) 0.9fr repeat(4, 0.85fr) 0.9fr repeat(6, 0.85fr) 10.8fr;

        .stress-cur {
            border-style: solid;
            border-width: 2px;
            border-color: red;
            background-color: #dd10109f;
        }
    }

    .col-centrale {
        display: grid;
        padding: 3px;
        grid-template-columns: 0.7fr 1.2fr 11.3fr 1.1fr 20fr;
        grid-template-rows: 1fr 0.8fr 3.1fr 1.7fr 2fr 1fr;
    }

    .entete {
        grid-column: 1 / 6;
        grid-row: 1;
        margin: 5px;
    }

    .portrait {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    img {
        border: none;
        object-fit: fill;
        max-width: 100%;
        max-height: 100%;
    }

    .col-droite  {
        grid-column: 5 / 6;
        grid-row: 2 / 6;
    }
    
    label {
        padding: 7px 0;
    }
}

.temp {
    font-style: italic;
}

.actor-infos {
display: flex;
flex-direction: column;

    .actor-infos-grid {
        display: grid;
        padding: 3px;
        grid-template-columns: 1fr 2fr;

        .editor {
            height: 100px;
            margin-bottom: 3px;
            background-color: rgba(82, 77, 77, 0.075);
        }

        textarea {
            height: 80px;
            margin: 3px;
        }
        input {
            padding: 3px;
            margin: 3px;
        }
    }
}

.actor-caracs {
    display: flex;
    flex-direction: column;

    .actor-caracs-grid {
        display: grid;
        padding: 3px;
        grid-template-columns: 1fr 2.5em 2fr;
    }

    .actor-caracs-line {
        display: grid;
        //padding: 3px;
        grid-template-columns: 3fr 1fr;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
    }
}    

.actor-caracsSec {
    display: flex;
    flex-direction: column;

    .actor-caracsSec-grid {
        display: grid;
        padding: 3px;
        grid-template-columns: 2fr 2.5em 2fr;
    }

    .actor-caracsSec-line {
        display: grid;
        grid-template-columns: 3fr 1fr;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
    }

    .actor-caracsSec-line-valMax {
        display: grid;
        grid-template-columns: 2.5fr 1fr 1em 1fr;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
        .separateur {
            margin: 3px;
            text-align: center;
        }
    }
}
*/
.window-app.wallow-wide .window-content {
  background: url("../images/56-High-Quality-Old-Paper-Texture-Downloads-Completely-Free.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
.window-app.wallow-wide .window-content input[type="text"].cursive,
.window-app.wallow-wide .window-content input[type="number"].cursive,
.window-app.wallow-wide .window-content .cursive,
.window-app.wallow-wide .window-content .editor {
  font-family: cursive;
  color: var(--color-text-cursive);
}
.titre1 {
  padding: 2px 3px;
  font-size: 2em;
}
.titre2 {
  padding: 2px 3px;
  font-size: 1.5em;
}
.titre3 {
  padding: 2px 3px;
  font-size: 1.25em;
}
.item-box {
  border: 1px solid;
  border-radius: 2px;
  border-color: grey;
  margin: 1px;
  padding: 1px;
}
.sheet.wallow-wide header.sheet-header img {
  border: none;
  width: auto;
  height: 100px;
  margin: 0px;
}
.entete-grid {
  display: grid;
  grid-template-columns: 3fr 145px;
}
.entete-grid .titre {
  text-align: center;
  border: solid 2px;
  margin-left: 2px;
}
.entete-grid .titre .titre2 {
  border-bottom: solid 2px;
}
.entete-grid .titre .normal {
  padding: 2px 3px;
}
.entete-grid .logo {
  display: flex;
  justify-content: center;
  margin-right: 2px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-right: solid 2px;
}
.identite-grid {
  display: grid;
  grid-template-columns: 3fr 145px;
}
.identite-grid .carte-id-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  outline: solid 5px var(--color-entete-card-id);
  border-radius: 8px;
  z-index: 1;
}
.identite-grid .carte-id-grid .entete {
  grid-column: 1 / 3;
  color: white;
  background-color: var(--color-entete-card-id);
  height: 100%;
}
.identite-grid .carte-id-grid .pied {
  grid-column: 1 / 3;
  color: var(--color-entete-card-id);
  background-color: var(--color-entete-card-id);
  height: 100%;
}
.identite-grid .carte-id-grid .portrait {
  grid-column: 2 / 3;
  grid-row: 3 / 10;
  height: 100%;
  background-color: var(--color-contenu-card-id);
  border-right: solid 2px var(--color-entete-card-id);
}
.identite-grid .carte-id-grid .portrait img {
  border: none;
}
.identite-grid .carte-id-grid .vide {
  height: 100%;
  background-color: var(--color-contenu-card-id);
  border-right: solid 2px var(--color-entete-card-id);
}
.identite-grid .carte-id-grid .rubrique {
  padding: 0 3px;
  font-weight: bold;
  color: var(--color-titre-rub-card-id);
  background-color: var(--color-contenu-card-id);
  border-left: solid 2px var(--color-entete-card-id);
  height: 100%;
}
.identite-grid .carte-id-grid .valeur {
  padding: 0 3px;
  height: 100%;
  background-color: var(--color-contenu-card-id);
  border-left: solid 2px var(--color-entete-card-id);
}
.points-drame-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 3fr;
  margin-left: 2px;
}
.points-drame-grid .age {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3px;
  border-width: 2px 2px 1px 2px;
  border-style: solid;
}
.points-drame-grid .age label,
.points-drame-grid .age div {
  margin: 3px;
}
.points-drame-grid .point-drame {
  border-style: solid;
  border-width: 1px 2px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.points-drame-grid .point-drame img {
  border: none;
  height: 80px;
}
.points-drame-grid .point-drame.bottom {
  border-style: solid;
  border-width: 1px 2px 0 0;
}
.caracs-traits-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 2em 6fr;
}
.caracs-traits-grid .entete-car {
  grid-column: 1 / 4;
  border: solid 1px black;
  border-top: solid 2px black;
  border-left: solid 2px black;
  background-color: black;
  color: white;
}
.caracs-traits-grid .entete-trait {
  grid-column: 4 / 5;
  border: solid 1px black;
  border-top: solid 2px black;
  border-right: solid 2px black;
}
.caracs-traits-grid .carac,
.caracs-traits-grid .carac-val,
.caracs-traits-grid .traits,
.caracs-traits-grid .dice {
  display: flex;
  align-items: center;
  padding: 3px;
}
.caracs-traits-grid .carac {
  border: solid 1px black;
  border-left: solid 2px black;
  background-color: black;
  color: white;
}
.caracs-traits-grid .traits {
  border: solid 1px black;
  border-right: solid 2px black;
}
.caracs-traits-grid .carac-val {
  text-align: center;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
}
.caracs-traits-grid .dice {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}
.caracs-traits-grid .bottom {
  border-bottom: solid 2px black;
}
.caracs-traits-grid .normal {
  padding: 3px;
}
.top {
  border-top: solid 2px black;
}
.left {
  border-left: solid 2px black;
}
.right {
  border-right: solid 2px black;
}
.bottom {
  border-bottom: solid 2px black;
}
.all {
  border: solid 2px black;
}
.espacement {
  height: 5px;
}
.metiers-grid,
.hobbies-grid {
  display: grid;
  grid-template-columns: 2fr 2em 5fr 1.5fr 1.5fr;
}
.metiers-grid .entete-metier,
.hobbies-grid .entete-metier,
.metiers-grid .entete-hobby,
.hobbies-grid .entete-hobby,
.metiers-grid .entete-niv,
.hobbies-grid .entete-niv {
  background-color: black;
  color: white;
}
.metiers-grid .dice,
.hobbies-grid .dice {
  text-align: center;
}
.metiers-grid .niveau,
.hobbies-grid .niveau {
  padding-left: 3px;
}
.metiers-grid .metier-item,
.hobbies-grid .metier-item,
.metiers-grid .hobby-item,
.hobbies-grid .hobby-item,
.metiers-grid .dice,
.hobbies-grid .dice,
.metiers-grid .niveau,
.hobbies-grid .niveau,
.metiers-grid .vide,
.hobbies-grid .vide {
  padding-top: 5px;
  align-items: center;
}
.metiers-grid .metier-item.top,
.hobbies-grid .metier-item.top,
.metiers-grid .hobby-item.top,
.hobbies-grid .hobby-item.top,
.metiers-grid .dice.top,
.hobbies-grid .dice.top,
.metiers-grid .niveau.top,
.hobbies-grid .niveau.top {
  margin-top: 0px;
  padding-top: 10px;
}
.carac-sec-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.carac-sec-grid .carac-sec {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 3px;
  align-items: center;
}
.carac-sec-grid .carac-sec input {
  text-align: center;
  padding: 3px;
  margin: 3px;
}
.carac-sec-grid .carac-sec-max {
  display: grid;
  grid-template-columns: 2fr 1fr 1em 1fr;
  padding: 3px;
  align-items: center;
}
.carac-sec-grid .carac-sec-max input {
  text-align: center;
  padding: 3px;
  margin: 3px;
}
.carac-sec-grid .carac-sec-max .separateur {
  margin: 3px;
  text-align: center;
}
.carac-sec-grid .carac-sec-etat {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3px;
  align-items: center;
}
.carac-sec-grid .carac-sec-etat .data {
  display: grid;
  grid-template-columns: 1fr 2em;
  align-items: center;
}
.fait-marquant label {
  padding: 3px;
}
.fait-marquant .editor {
  height: 90px;
  padding-left: 3px;
  padding-right: 3px;
}
.tare-inspi-grid {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  border: solid 2px;
}
.tare-inspi-grid label {
  padding: 3px;
}
.tare-inspi-grid .editor {
  height: 75px;
  padding-left: 3px;
  padding-right: 3px;
}
.editor {
  height: 110px;
}
.sheet-footer {
  border-top: solid thin #8d762b;
  padding: 3px;
  font-weight: bold;
  font-size: 1.2em;
}
.grid-item-trait,
.grid-item-metier,
.grid-item-hobby {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-item-trait label,
.grid-item-metier label,
.grid-item-hobby label,
.grid-item-trait input,
.grid-item-metier input,
.grid-item-hobby input,
.grid-item-trait select,
.grid-item-metier select,
.grid-item-hobby select {
  margin: 2px;
}
.roll {
  width: 30px;
  line-height: 30px;
  font-size: var(--font-size-16);
  font-weight: bold;
  text-align: center;
  margin: 3px;
}
.dice-back {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.d8 {
  background: url("../images/dices/d8-grey.svg") no-repeat;
  color: black;
  background-size: 30px 30px;
}
.d10 {
  background: url("../images/dices/d10-grey.svg") no-repeat;
  color: black;
  background-size: 30px 30px;
}
.d12 {
  background: url("../images/dices/d12-grey.svg") no-repeat;
  color: black;
  background-size: 30px 30px;
}
.grid-jet-carac {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2px;
}
.grid-jet-reroll {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2px;
}
.titre-jet-carac,
.titre-jet-reroll {
  margin: 2px;
}
.resultat {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin: 2px;
  padding: 3px;
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  background-color: #c0a13b8e;
}
/*.dialog-buttons {
    
    button:hover, button:focus {
        box-shadow: 0 0 5px var(--color-shadow-trinite);
    }
}*/
.dialog-content {
  /*input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus, textarea:focus {
        box-shadow: 0 0 5px var(--color-shadow-trinite);
    }*/
}
.dialog-content .titre {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 3px;
  /*a.content-link {
            border: none;
            background: none;
            
            i {
                color: var(--color-titre-trinite);
            }
        }

        a.content-link:hover {
            text-shadow: 0 0 8px var(--color-shadow-trinite);
        }*/
}
.dialog-content .grid-data {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin: 5px 3px;
}
.dialog-content .grid-data .data {
  display: flex;
  justify-content: center;
  margin: 2px;
}
.dialog-content .grid-data input[type="number"] {
  width: 3em;
  text-align: center;
}
:root {
  --color-entete-card-id: #003273;
  --color-contenu-card-id: #c0c6d2;
  --color-titre-rub-card-id: #476183;
  --color-text-cursive: #3567a8;
}
/*******************************/
/**       Drame Tracker        **/
/*******************************/
#drame-tracker-drag {
  width: 100%;
  height: 10px;
  border-radius: 5px;
}
#drame-tracker-drag:hover {
  cursor: move;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.wallow-opacity-hover {
  opacity: 0.6;
}
.wallow-opacity-hover:hover {
  opacity: 0.9;
}
#drame-tracker {
  position: absolute;
  width: 800px;
  max-width: max-content;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  z-index: 50;
}
#drame-tracker .grid-tracker {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: white;
  text-align: center;
  align-items: center;
}
#drame-tracker .grid-tracker .titre,
#drame-tracker .grid-tracker .valeur {
  grid-column: 1 / 4;
}
#drame-tracker .grid-tracker .valeur {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  height: 80px;
  background-image: url("../images/token-point-drame.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#drame-tracker .grid-tracker .lst-persos {
  grid-column: 2 / 4;
}
#drame-tracker a {
  text-shadow: none;
}
#drame-tracker #context-menu {
  width: 200px;
}
#drame-tracker #context-menu .context-item {
  text-align: left;
}
