.window-app .window-content {
  background: url(../images/Feuille-Wallow-Wide-Back.png);
  background-size: cover;
}
.window-app .window-resizable-handle {
  visibility: hidden;
}
.wallow-wide.sheet.actor form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 0.9em;
}
.wallow-wide.sheet.actor .sheet-header {
  display: flex;
}
.wallow-wide.sheet.actor .sheet-header img {
  flex: 1 0 660px;
  height: 103px;
}
.wallow-wide.sheet.actor .sheet-fixed-content {
  display: grid;
  padding: 3px;
  grid-template-columns: 1.7fr 17.6fr 0.7fr;
}
.wallow-wide.sheet.actor .sheet-fixed-content .col-centrale {
  display: grid;
  padding: 3px;
  grid-template-columns: 7fr 10fr;
}
.wallow-wide.sheet.actor .sheet-fixed-content .col-gauche {
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 11fr 1fr;
  grid-template-rows: 2fr 3fr 1.9fr 2fr 0.9fr;
}
.wallow-wide.sheet.actor .sheet-fixed-content .col-droite {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
}
.wallow-wide.sheet.actor .sheet-fixed-content img {
  flex: 0 0 199px;
  height: 271px;
}
.wallow-wide.sheet.actor .sheet-fixed-content label {
  padding: 7px 0;
}
.temp {
  font-style: italic;
}
.actor-infos {
  display: flex;
  flex-direction: column;
}
.actor-infos .actor-infos-grid {
  display: grid;
  padding: 3px;
  grid-template-columns: 1fr 2fr;
}
.actor-infos .actor-infos-grid .editor {
  height: 100px;
  margin-bottom: 3px;
  background-color: rgba(82, 77, 77, 0.075);
}
.actor-infos .actor-infos-grid textarea {
  height: 80px;
  margin: 3px;
}
.actor-infos .actor-infos-grid input {
  padding: 3px;
  margin: 3px;
}
.actor-caracs {
  display: flex;
  flex-direction: column;
}
.actor-caracs .actor-caracs-grid {
  display: grid;
  padding: 3px;
  grid-template-columns: 1fr 2.5em 2fr;
}
.actor-caracs .actor-caracs-line {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.actor-caracs .actor-caracs-line input {
  text-align: center;
  padding: 3px;
  margin: 3px;
}
.actor-caracsSec {
  display: flex;
  flex-direction: column;
}
.actor-caracsSec .actor-caracsSec-grid {
  display: grid;
  padding: 3px;
  grid-template-columns: 2fr 2.5em 2fr;
}
.actor-caracsSec .actor-caracsSec-line {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.actor-caracsSec .actor-caracsSec-line input {
  text-align: center;
  padding: 3px;
  margin: 3px;
}
.actor-caracsSec .actor-caracsSec-line-valMax {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1em 1fr;
}
.actor-caracsSec .actor-caracsSec-line-valMax input {
  text-align: center;
  padding: 3px;
  margin: 3px;
}
.actor-caracsSec .actor-caracsSec-line-valMax .separateur {
  margin: 3px;
  text-align: center;
}
