<div class="actor-caracs">
    <div class="actor-caracs-grid">
        <label>CARACTERISTIQUES</label>
        <div></div>
        <label>Traits</label>
        <div class="actor-caracs-line">
            <label>PHYSIQUE : </label>
            <input name="data.physique" type="number" value="{{data.data.physique}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="temp">traits physiques</div>
        <div class="actor-caracs-line">
            <label>MENTAL : </label>
            <input name="data.mental" type="number" value="{{data.data.mental}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="temp">traits mentaux</div>
        <div class="actor-caracs-line">
            <label>SOCIAL : </label>
            <input name="data.social" type="number" value="{{data.data.social}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="temp">traits sociaux</div>
    </div>
</div>