<div class="actor-caracs">
    <div class="actor-caracs-grid">
        <label>CARACTERISTIQUES</label>
        <div></div>
        <label>Traits</label>
        <div class="actor-caracs-line">
            <label>PHYSIQUE : </label>
            <input name="system.physique" type="number" value="{{data.system.physique}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="temp">traits physiques</div>
        <div class="actor-caracs-line">
            <label>MENTAL : </label>
            <input name="system.mental" type="number" value="{{data.system.mental}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="temp">traits mentaux</div>
        <div class="actor-caracs-line">
            <label>CONSCIENCE : </label>
            <input name="system.conscience" type="number" value="{{data.system.conscience}}" placeholder="0"/>
        </div>
        <div></div>
        <div class="temp">traits sociaux</div>
    </div>
</div>