/* CSS feuille V1

.window-app.wallow-wide .window-content {
    background: url(../images/Feuille-Wallow-Wide-Back.png);
    background-size: cover;
}


.window-app .window-resizable-handle {
    visibility: hidden;
}

.wallow-wide.sheet.actor form { 
    display: grid;
    padding: 3px;
    grid-template-columns: 1.7fr 17.6fr 0.7fr;
    font-size: 0.9em;
   
    .col-sante {
        display: grid;
        grid-template-rows: 10fr repeat(3, 1fr) repeat(2, 0.9fr) 1fr 0.9fr repeat(13, 0.95fr) 1fr 8.95fr;

        .sante-cur {
            border-style: solid;
            border-width: 2px;
            border-color: red;
            background-color: #dd10109f;
        }
    }

    .col-stress {
        display: grid;
        grid-template-rows: 10.1fr repeat(2, 0.85fr) 0.9fr 0.9fr repeat(2, 0.85fr) 0.9fr repeat(2, 0.85fr) 0.9fr repeat(4, 0.85fr) 0.9fr repeat(6, 0.85fr) 10.8fr;

        .stress-cur {
            border-style: solid;
            border-width: 2px;
            border-color: red;
            background-color: #dd10109f;
        }
    }

    .col-centrale {
        display: grid;
        padding: 3px;
        grid-template-columns: 0.7fr 1.2fr 11.3fr 1.1fr 20fr;
        grid-template-rows: 1fr 0.8fr 3.1fr 1.7fr 2fr 1fr;
    }

    .entete {
        grid-column: 1 / 6;
        grid-row: 1;
        margin: 5px;
    }

    .portrait {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    img {
        border: none;
        object-fit: fill;
        max-width: 100%;
        max-height: 100%;
    }

    .col-droite  {
        grid-column: 5 / 6;
        grid-row: 2 / 6;
    }
    
    label {
        padding: 7px 0;
    }
}

.temp {
    font-style: italic;
}

.actor-infos {
display: flex;
flex-direction: column;

    .actor-infos-grid {
        display: grid;
        padding: 3px;
        grid-template-columns: 1fr 2fr;

        .editor {
            height: 100px;
            margin-bottom: 3px;
            background-color: rgba(82, 77, 77, 0.075);
        }

        textarea {
            height: 80px;
            margin: 3px;
        }
        input {
            padding: 3px;
            margin: 3px;
        }
    }
}

.actor-caracs {
    display: flex;
    flex-direction: column;

    .actor-caracs-grid {
        display: grid;
        padding: 3px;
        grid-template-columns: 1fr 2.5em 2fr;
    }

    .actor-caracs-line {
        display: grid;
        //padding: 3px;
        grid-template-columns: 3fr 1fr;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
    }
}    

.actor-caracsSec {
    display: flex;
    flex-direction: column;

    .actor-caracsSec-grid {
        display: grid;
        padding: 3px;
        grid-template-columns: 2fr 2.5em 2fr;
    }

    .actor-caracsSec-line {
        display: grid;
        grid-template-columns: 3fr 1fr;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
    }

    .actor-caracsSec-line-valMax {
        display: grid;
        grid-template-columns: 2.5fr 1fr 1em 1fr;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
        .separateur {
            margin: 3px;
            text-align: center;
        }
    }
}
*/

.window-app.wallow-wide .window-content {
    //background: url("../images/old-document-size-paper2.jpg") repeat;
    background: url("../images/56-High-Quality-Old-Paper-Texture-Downloads-Completely-Free.jpg");
    background-size: cover;

    //font-family: 'Kalam', cursive;
    //font-family: 'Architects Daughter', cursive;
    //font-family: 'Shadows Into Light', cursive;
    //font-family: 'Shadows Into Light Two', cursive;
    //font-family: 'Handlee', cursive;
    //font-family: 'Indie Flower', cursive;

    //font-family: 'Courier Prime', monospace;
    font-family: 'Roboto', sans-serif;

    input[type="text"].cursive, input[type="number"].cursive, .cursive, .editor {
        font-family: cursive;
        color: var(--color-text-cursive);
    }
}

.titre1 {
    padding: 2px 3px;
    font-size: 2em;
}

.titre2 {
    padding: 2px 3px;
    font-size: 1.5em;
}

.titre3 {
    padding: 2px 3px;
    font-size: 1.25em;
}

.item-box {
    border: 1px solid;
    border-radius: 2px;
    border-color: grey;
    margin: 1px;
    padding: 1px;
}

.sheet.wallow-wide header.sheet-header img {
    border: none;
    width : auto;
    height : 110px;
    margin: 0px;
}

.entete-grid {
    display: grid;
    grid-template-columns: 3fr 158px;

    .titre {
        text-align: center;
        border: solid 2px;
        margin: 2px 0 2px 2px;

        .titre2 {
            border-bottom: solid 2px;
        }

        .normal {
            padding: 2px 3px;
        }
    }

    .logo {
        display: flex;
        justify-content: center;

        margin: 2px 2px 2px 0;
        border-top: solid 2px;
        border-bottom: solid 2px;
        border-right: solid 2px;
    }
}

.identite-grid {
    display: grid;
    grid-template-columns: 3fr 158px;
    margin: 2px;

    .carte-id-grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        border-left: solid 2px var(--color-entete-card-id);
        border-right: solid 2px var(--color-entete-card-id);
        border-radius: 5px;

        .entete {
            grid-column: 1 / 3;
            color: white;
            background-color: var(--color-entete-card-id);
            //border-radius: 5px 5px 0 0;
        }

        .pied {
            grid-column: 1 / 3;
            color: var(--color-entete-card-id);
            background-color: var(--color-entete-card-id);
            //border-radius: 0 0 5px 5px;
            height: 16px;
        }

        .portrait {
            grid-column: 2 / 3;
            grid-row: 2 / 10;

            img {
                border: none;
            }
        }

        .rubrique {
            padding: 0 3px;
            font-weight: bold;
            color: var(--color-titre-rub-card-id);
        }

        .valeur {
            padding: 0 3px;
        }
    }
}

.points-drame-grid {
    display: grid;    
    grid-template-rows: 1fr 1fr 3fr 3fr;
    margin-left: 2px;

    .age {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 3px;

        border-width: 2px 2px 1px 2px;
        border-style: solid;

        label, div {
            margin: 3px;
        }
    }

    .point-drame {
        border-style: solid;
        border-width: 1px 2px 1px 2px;
    }

    .point-drame.bottom {
        border-style: solid;
        border-width: 1px 2px 2px 2px;
    }
}

.caracs-traits-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 2em 6fr;
    margin: 1px;

    .entete-car {
        grid-column: 1 / 4;
        border: solid 1px;
        border-top: solid 2px;
        border-left: solid 2px;
    }

    .entete-trait {
        grid-column: 4 / 5;
        border: solid 1px;
        border-top: solid 2px;
        border-right: solid 2px;
    }

    .carac, .carac-val, .traits, .dice {
        display: flex;
        align-items: center;
        padding: 3px;
    }

    .carac {
        border: solid 1px;
        border-left: solid 2px;
    }

    .traits {
        border: solid 1px;
        border-right: solid 2px;
    }

    .carac-val {
        text-align: center;
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-left: solid 1px;
    }

    .dice {
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-right: solid 1px;
    }
   
    .bottom {
        border-bottom: solid 2px;
    }

    .normal {
        padding: 3px;
    }
}

.top {
    border-top: solid 2px black;
}

.left {
    border-left: solid 2px black;
}

.right {
    border-right: solid 2px black;
}

.bottom {
    border-bottom: solid 2px black;
}
.all {
    border: solid 2px black;
}

.metiers-grid, .hobbies-grid {
    display: grid;
    grid-template-columns: 2fr 2em 5fr 1.5fr 1.5fr;
    margin: 1px;
    
    .dice {
        text-align: center;
    }

    .niveau {
        padding-left: 3px;
    }

    .metier-item, .hobby-item, .dice, .niveau, .vide {
        padding-top: 5px;
        align-items: center;
    }

    .metier-item.top, .hobby-item.top, .dice.top, .niveau.top {
        margin-top: 0px;
        padding-top: 10px;
    }
}

.carac-sec-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1px;

    .carac-sec {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 3px;
        align-items: center;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
    }

    .carac-sec-max {
        display: grid;
        grid-template-columns: 2fr 1fr 1em 1fr;
        padding: 3px;
        align-items: center;

        input {
            text-align: center;
            padding: 3px;
            margin: 3px;
        }
        .separateur {
            margin: 3px;
            text-align: center;
        }
    }

    .carac-sec-etat {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 3px;
        align-items: center;

        .data {
            display: grid;
            grid-template-columns: 1fr 2em;
            align-items: center;
        }
    }
}

.fait-marquant {
    margin: 1px;

    label {
        padding: 3px;
    }

    .editor {
        height: 80px;
        padding-left: 3px;
        padding-right: 3px;
    }
}

.tare-inspi-grid {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    margin: 1px;
    border: solid 2px;

    label {
        padding: 3px;                
    }

    .editor {
        height: 55px;
        padding-left: 3px;
        padding-right: 3px;
    }
}