<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="entete-grid">
            <div class="titre">
                <div class="titre1"><label>COMTE de FAIRMONT</label></div>
                <div class="titre2"><label>BUREAU DU SHERIF de Wallow Wide</label></div>
                <div class="titre3"><label>Fiche de renseignements</label></div>
            </div>
            <div class="logo">
                <img src="systems/wallow-wide/images/Flag_of_Wyoming.png">
            </div>
        </div>
    </header>
    <div class="sheet-fixed-content">
        <div class="identite-grid">
            <div class="carte-id-grid">
                <div class="entete titre1">BUREAU DU SHERIF</div>
                <div class="portrait"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></div>
                <div class="rubrique">Cette carte d'identification certifie que</div>
                <div class="valeur"><input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/></div>
                <div class="rubrique">Est mandaté par le Comté de</div>
                <div class="valeur">FAIRMONT</div>
                <div class="rubrique">Avec fonction de</div>
                <div class="valeur"> <input name="system.fonction" type="text" value="{{data.system.fonction}}" placeholder="Fonction"/></div>
                <div class="rubrique">Pour l'état du</div>
                <div class="valeur">Wyoming</div>
                <div class="pied"></div>
            </div>
            <div class="points-drame-grid">
                <div> </div>
                <div class="age"><label>Age</label><input class="cursive" name="system.age" type="text" value="{{data.system.age}}" placeholder="Age"/></div>
                <div class="point-drame"> </div>
                <div class="point-drame bottom"> </div>
            </div>
        </div>
    </div>
    <section class="sheet-body">
        <div class="caracs-traits-grid">
            <div class="entete-car titre2">CARACTERISTIQUES</div>
            <div class="entete-trait titre2">TRAITS</div>
            <div class="carac titre3">PHYSIQUE</div>
            <div class="carac-val"><input class="cursive" name="system.physique.valeur" type="number" value="{{data.system.physique.valeur}}" placeholder="0"/></div>
            <div class="dice"><a class="roll-carac" title="Jet en 'Physique'" data-carac="physique"><i class="fas fa-dice"></i></a></div>
            <div class="traits">
                {{#each traits as |trait id|}}
                    {{#if (eq trait.system.caracteristique "physique")}}
                        <div class="trait-item item-options item-box" data-item-id="{{trait._id}}" data-carac="physique">
                            <a class="roll-trait cursive" title="Jet en 'Physique' avec '{{trait.name}}'">{{trait.name}}</a>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            <div class="carac titre3">MENTAL</div>
            <div class="carac-val"><input class="cursive" name="system.mental.valeur" type="number" value="{{data.system.mental.valeur}}" placeholder="0"/></div>
            <div class="dice"><a class="roll-carac" title="Jet de 'Mental'" data-carac="mental"><i class="fas fa-dice"></i></a></div>
            <div class="traits">
                {{#each traits as |trait id|}}
                    {{#if (eq trait.system.caracteristique "mental")}}
                        <div class="trait-item item-options item-box" data-item-id="{{trait._id}}" data-carac="mental">
                            <a class="roll-trait cursive" title="Jet en 'Mental' avec '{{trait.name}}'">{{trait.name}}</a>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            <div class="carac titre3 bottom">CONSCIENCE</div>
            <div class="carac-val bottom"><input class="cursive" name="system.conscience.valeur" type="number" value="{{data.system.conscience.valeur}}" placeholder="0"/></div>
            <div class="dice bottom"><a class="roll-carac" title="Jet de 'Conscience'" data-carac="conscience"><i class="fas fa-dice"></i></a></div>
            <div class="traits bottom">
                {{#each traits as |trait id|}}
                    {{#if (eq trait.system.caracteristique "conscience")}}
                        <div class="trait-item item-options item-box" data-item-id="{{trait._id}}" data-carac="conscience">
                            <a class="roll-trait cursive" title="Jet en 'Conscience' avec '{{trait.name}}'">{{trait.name}}</a>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="metiers-grid">
            {{#each metiers as |metier id|}}
                {{#if (eq @index 0)}}
                    <div class="entete-metier titre3 all">METIERS</div>
                    <div class="dice top"><a class="roll-metier" title="Jet avec '{{metier.name}}'" data-item-id="{{metier._id}}"><i class="fas fa-dice"></i></a></div>
                    <div class="metier-item item-options top cursive" data-item-id="{{metier._id}}">{{metier.name}}{{#if metier.system.specialisation}} (spé: {{metier.system.specialisation}}){{/if}}</div>
                    <div class="entete-niv titre3 all">NIVEAUX</div>
                    <div class="niveau right top cursive">{{configVal 'niveaux' metier.system.niveau}}</div>
                {{else}}
                    <div class="metier-vide left right"> </div>
                    <div class="dice"><a class="roll-metier" title="Jet avec '{{metier.name}}'" data-item-id="{{metier._id}}"><i class="fas fa-dice"></i></a></div>
                    <div class="metier-item item-options cursive" data-item-id="{{metier._id}}">{{metier.name}}{{#if metier.system.specialisation}} (spé: {{metier.system.specialisation}}){{/if}}</div>
                    <div class="niveau-vide left right"> </div>
                    <div class="niveau right cursive">{{configVal 'niveaux' metier.system.niveau}}</div>
                {{/if}}
            {{/each}}
            {{#if metiers}}
                <div class="vide left right bottom"> </div>
                <div class="vide bottom"> </div>
                <div class="vide bottom"> </div>
                <div class="vide bottom left right"> </div>
                <div class="vide right bottom"> </div>
            {{/if}}
        </div>
        <div class="hobbies-grid">
            {{#each hobbies as |hobby id|}}
                {{#if (eq @index 0)}}
                    <div class="entete-hobby titre3 all">HOBBIES</div>
                    <div class="dice top"><a class="roll-hobby" title="Jet avec '{{hobby.name}}'" data-item-id="{{hobby._id}}"><i class="fas fa-dice"></i></a></div>
                    <div class="hobby-item item-options top cursive" data-item-id="{{hobby._id}}">{{hobby.name}}</div>
                    <div class="entete-niv titre3 all">NIVEAUX</div>
                    <div class="niveau right top cursive">{{configVal 'niveaux' hobby.system.niveau}}</div>
                {{else}}
                    <div class="hobby-vide left right"> </div>
                    <div class="dice"><a class="roll-hobby" title="Jet avec '{{hobby.name}}'" data-item-id="{{hobby._id}}"><i class="fas fa-dice"></i></a></div>
                    <div class="hobby-item item-options cursive" data-item-id="{{hobby._id}}">{{hobby.name}}</div>
                    <div class="niveau-vide left right"> </div>
                    <div class="niveau right cursive">{{configVal 'niveaux' hobby.system.niveau}}</div>
                {{/if}}
            {{/each}}
            {{#if hobbies}}
                <div class="vide left right bottom"> </div>
                <div class="vide bottom"> </div>
                <div class="vide bottom"> </div>
                <div class="vide bottom left right"> </div>
                <div class="vide right bottom"> </div>
            {{/if}}
        </div>
        <div class="carac-sec-grid">
            <div class="carac-sec-max stress all">
                <label>Stress </label>
                <input class="cursive" name="system.stress.value" type="number" value="{{data.system.stress.value}}" min="0" max="{{data.system.stress.max}}" placeholder="0"/>
                <label class="separateur cursive">/</label>
                <input class="cursive" name="system.stress.max" type="number" value="{{data.system.stress.max}}" min="0" placeholder="0"/>
            </div>
            <div class="carac-sec-max sante top right bottom">
                <label>Santé </label>
                <input class="cursive" name="system.sante.value" type="number" value="{{data.system.sante.value}}" min="0" max="{{data.system.sante.max}}" placeholder="0"/>
                <label class="separateur cursive">/</label>
                <input class="cursive" name="system.sante.max" type="number" value="{{data.system.sante.max}}" min="0" placeholder="0"/>
            </div>
            <div class="carac-sec-etat etat top right bottom">
                <label>Etat </label>
                <div class="data">
                    <label>Blessé (-3) </label><input type="checkbox" name="system.etat.blesse" {{checked data.system.etat.blesse}}/>
                    <label>KO </label><input type="checkbox" name="system.etat.ko" {{checked data.system.etat.ko}}/>
                </div>
            </div>
            <div class="carac-sec defense top right bottom">
                <label>Défense passive </label>
                <input class="cursive" name="system.defense" type="number" value="{{data.system.defense}}" min="0" placeholder="0"/>
            </div>
            <div class="carac-sec pp top right bottom">
                <label>Points de Perso </label>
                <input class="cursive" name="system.pointsPerso" type="number" value="{{data.system.pointsPerso}}" min="0" placeholder="0"/>
            </div>
        </div>
        <div class="fait-marquant all">
            <label>Faits marquants</label>
            {{editor data.system.faitMarquant target="system.faitMarquant" button=true owner=true editable=true}}
        </div>
        <div class="tare-inspi-grid">
            <label>Tares</label>
            {{editor data.system.tare target="system.tare" button=true owner=true editable=true}}
            <label>Inspirations</label>
            {{editor data.system.inspiration target="system.inspiration" button=true owner=true editable=true}}
        </div>
    </section>
</form>