<form class="{{cssClass}}" autocomplete="off">
        <div class="col-sante"></div>
        <div class="col-centrale">
            <div class="entete">Wallow Wide le JDR</div>
            <div class="portrait"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></div>
            <div class="col-droite">
                {{> "systems/wallow-wide/templates/partials/actors/bloc-infos-personnage.hbs"}}
                {{> "systems/wallow-wide/templates/partials/actors/bloc-caracteristiques-personnage.hbs"}}
                {{> "systems/wallow-wide/templates/partials/actors/bloc-caracSecondaires-personnage.hbs"}}
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <!--<div class="col-gauche">-->
                 <!---->
            <!--</div>
            <div class="col-droite">
                <div></div>
                <div>
                    
                </div>-->
            <!--</div>
            <div></div>
            <div></div>-->
        </div>
        <div class="col-stress"></div>
</form>