<div class="carte-drame">
    <div class="titre-carte-drame">
        <div>Utilisation d'un point de Drame</div>
    </div>
    <div class="resultat"><label>Résultat : {{resultat}}</label></div>
</div>