<form>
    <div class="titre"><label>Caractérique pour ce jet avec '{{metier.name}}'</label></div>
    <div class="grid-data">
        <label>Caractéristique</label>
        <div class="data">
            <select name="carac">
                {{selectOptions cfgData.caracteristiques selected=caracteristique localize=true}}
            </select> 
        </div>
    </div>
    {{#if metier.system.specialisation}}
        <div class="titre"><label>Spécialisation '{{metier.system.specialisation}}'</label></div>
        <div class="grid-data">
            <label>Utilisée sur ce jet</label>
            <div class="data"><input type="checkbox" name="speUtilisee"/></div>
        </div>
    {{/if}}
</form>