<form>
    <div class="titre"><label>Caractérique pour ce jet avec '{{hobby.name}}'</label></div>
    <div class="grid-data">
        <label>Caractéristique</label>
        <div class="data">
            <select name="carac">
                {{selectOptions cfgData.caracteristiques selected=caracteristique localize=true}}
            </select> 
        </div>
    </div>
</form>