<form class="{{cssClass}}" autocomplete="off">
    <div class="wallow-opacity-hover" id="drame-tracker"> {{!-- flexcol --}}
        {{#if isGM}}
        <div id="drame-tracker-drag"></div>
        {{/if}}

        <div class="grid-tracker">
            <div class="titre">Réserve de points de Drame</div>
            <div class="valeur" id="tracker-val" data-valeur="{{reservePointsDrame}}"><label>{{reservePointsDrame}}</label></div>
            <a class="tracker-reinit" title="Réinitialiser la réserve"><i class="fa-solid fa-recycle"></i></a>
            <div class="lst-persos" title="Click droit : Récupérer un point d'un personnage"><i class="fa-solid fa-hat-cowboy"></i> Personnages</i></div>
        </div>
        
        {{!-- Complication/Churn Tracker --}}
        {{#if isGM}}
        {{/if}}
    </div>
</form>